h1{
    //   @include vwui-comp-font-reset();
        // font-size:map-get($font-sizes-rem, "vwui-font-size--5750" );
        padding-top: map-get($vwui-space-rem,"vwui-one-and-a-half-x");
        @include level-1-heading;
    }
    h2{
        //   @include vwui-comp-font-reset();
            // font-size:map-get($font-sizes-rem, "vwui-font-size--5750" );
            padding-top: map-get($vwui-space-rem,"vwui-one-and-a-half-x");
            @include level-2-heading;
            color:black;
    }
    p{
        color:map-get($vwui-neutral-colors, "#{$systemPrefix}-color-neutral-35" );
    }
    
    :root{
        @each $name, $color in $vwui-neutral-colors {
            --#{$name}:#{$color};
           }
        @each $name, $color in $vwui-token-colors {
            --#{$name}:#{$color};
           }
          --vwui-color-white-opacity-90:#{$vwui-color-white-opacity-90};
          --vwui-color-white-opacity-75:#{$vwui-color-white-opacity-75};
          --vwui-color-black-opacity-90:#{$vwui-color-black-opacity-90};
          --vwui-color-black-opacity-75:#{$vwui-color-black-opacity-75};
          --vwui-color-teal-opacity-90:#{$vwui-color-teal-opacity-90};
          --vwui-color-teal-opacity-75:#{$vwui-color-teal-opacity-75};
    };