// Line Height

$vwui-line-height-one-x:1;
$vwui-line-height-one-and-an-eight-x:1.25;
$vwui-line-height-one-and-a-quarter-x:1.25;
$vwui-line-height-one-and-a-half:1.5;
$vwui-line-height-one-three-quarter-x:1.75;
$vwui-line-height-two-x:2;
$vwui-line-height-two-and-a-half-x:2;


// Character Spacing

$vwui-character-spacing-0:0;
$vwui-character-spacing-025:0.025em;
$vwui-character-spacing-05:0.05em;
$vwui-character-spacing-075:0.075em;
$vwui-character-spacing-10:0.1em;

