.vwui-button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: 1px solid transparent;
  background-color: var(--button-background-color);
  color: var(--button-font-color);
  border-color: var(--button-border-color);
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.075em;
  display: block;
  transition: background-color 0.6s cubic-bezier(0.04, 0.91, 0.58, 1);
  cursor: pointer;
}
.vwui-button:hover {
  text-decoration: none;
}

.vwui-button[data-kind=ghost] {
  --button-background-color: transparent;
  --button-border-color: #000000;
  --button-font-color: #000000;
}
.vwui-button[data-kind=ghost]:hover {
  --button-background-color: #000000;
  --button-border-color: #000000;
  --button-font-color: #FFFFFF;
}

.vwui-button[data-kind=solid] {
  --button-background-color: #000000;
  --button-border-color: #000000;
  --button-font-color: #FFFFFF;
}
.vwui-button[data-kind=solid]:hover {
  --button-background-color: #00bcb4;
  --button-border-color: #00bcb4;
  --button-font-color: #FFFFFF;
}

.vwui-button[data-kind=ghost][data-inverted=true] {
  --button-background-color: transparent;
  --button-border-color: #FFFFFF;
  --button-font-color: #FFFFFF;
}
.vwui-button[data-kind=ghost][data-inverted=true]:hover {
  --button-background-color: #FFFFFF;
  --button-border-color: #FFFFFF;
  --button-font-color: #000000;
}

.vwui-button[data-kind=solid][data-inverted=true] {
  --button-background-color: #FFFFFF;
  --button-border-color: #FFFFFF;
  --button-font-color: #000000;
}
.vwui-button[data-kind=solid][data-inverted=true]:hover {
  --button-background-color: #00bcb4;
  --button-border-color: #00bcb4;
  --button-font-color: #FFFFFF;
}

.vwui-icon {
  width: var(--icon-size);
  height: var(--icon-size);
  color: currentColor;
}

.vwui-icon[data-size=small] {
  --icon-size: $vwui-icon-size-small;
}

.vwui-icon[data-size=medium] {
  --icon-size: $vwui-icon-size-small;
}

.vwui-icon[data-size=large] {
  --icon-size: $vwui-icon-size-large;
}

.vwui-icon[data-size=x-large] {
  --icon-size: $vwui-icon-size-x-large;
}

.vwui-card {
  --card-bg: #FFFFFF;
  --card-text: #000000;
  width: 255px;
  border-top: 5px solid #000000;
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  padding-right: 24px;
  background-color: var(--card-bg);
  justify-content: center;
  align-items: center;
  color: var(--card-text);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.vwui-card img {
  width: calc(100% + 48px);
  height: auto;
  max-width: unset;
}
.vwui-card p {
  grid-column: 2;
  text-align: center;
}
.vwui-card:hover {
  transform: translateY(-5px);
  text-decoration: none;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.05);
}

.vwui-card[data-inverted=true] {
  --card-bg: #323434;
  --card-text: #FFFFFF;
}

.vwui-form-group {
  --feedback-color: #000000;
}
.vwui-form-group .required-icon {
  color: #DC3545;
  display: none;
}
.vwui-form-group .feedback-message {
  display: none;
  color: var(--feedback-color);
}

.vwui-form-group[data-required=true] .required-icon {
  display: inline-block;
}

.vwui-form-group[data-required=true] .required-icon {
  display: inline-block;
}

.vwui-form-group[data-is-valid=true] {
  --feedback-color: #05CE7C;
}

.vwui-form-group[data-is-valid=false] {
  --feedback-color: #DC3545;
}
.vwui-form-group[data-is-valid=false] .feedback-message {
  display: block;
}

.vwui-form-group-input input[type=text],
.vwui-form-group-input input[type=email],
.vwui-form-group-input input[type=password],
.vwui-form-group-input select {
  display: block;
  width: 100%;
  height: 36px;
  font-family: "DIN";
  font-size: 14px;
  line-height: 1.5;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 8px;
  border: 0;
  outline: none;
  border-bottom: 2px solid var(--feedback-color);
}
.vwui-form-group-input input[type=text]::-moz-placeholder, .vwui-form-group-input input[type=email]::-moz-placeholder, .vwui-form-group-input input[type=password]::-moz-placeholder, .vwui-form-group-input select::-moz-placeholder {
  color: #575A5B;
  font-family: "DIN";
}
.vwui-form-group-input input[type=text]:-ms-input-placeholder, .vwui-form-group-input input[type=email]:-ms-input-placeholder, .vwui-form-group-input input[type=password]:-ms-input-placeholder, .vwui-form-group-input select:-ms-input-placeholder {
  color: #575A5B;
  font-family: "DIN";
}
.vwui-form-group-input input[type=text]::placeholder,
.vwui-form-group-input input[type=email]::placeholder,
.vwui-form-group-input input[type=password]::placeholder,
.vwui-form-group-input select::placeholder {
  color: #575A5B;
  font-family: "DIN";
}
.vwui-form-group-input input[type=text]:focus,
.vwui-form-group-input input[type=email]:focus,
.vwui-form-group-input input[type=password]:focus,
.vwui-form-group-input select:focus {
  outline: none;
  box-shadow: 0px 3px 0px 0px var(--feedback-color);
}

.vwui-form-group-input--checkbox {
  display: grid;
  grid-template-columns: 24px 1fr;
  grid-gap: 16px;
  --checkbox-size: 24px;
  align-items: center;
}

.vwui-form-group-input input[type=checkbox] {
  display: grid;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  text-align: center;
  cursor: pointer;
  border: 0;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}
.vwui-form-group-input input[type=checkbox]:before {
  content: "";
  border-radius: 0.5em;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  display: inline-block;
  pointer-events: none;
  border: 1px solid #A4A7A8;
  grid-area: 1/1;
}
.vwui-form-group-input input[type=checkbox]:after {
  content: "";
  border-radius: 0.5em;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  pointer-events: none;
  grid-area: 1/1;
  transform: scale(0);
  transition: transform 0.2s ease-in-out;
  color: white;
  background-color: #000000;
}
.vwui-form-group-input input[type=checkbox]:checked:after {
  content: "";
  transform: scale(1);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' id='Layer_1' x='0' y='0' version='1.1' viewBox='0 0 24 24'%3E%3Cpath id='path-1_00000023997670586326164870000010982111034619991693_' fill='white' d='m9.2 18.9-6.7-6.7L4 10.7l5.2 5.2L20 5.1l1.5 1.5z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

.vwui-u-background-primary-1 {
  background-color: #000000 !important;
}

.vwui-u-background-primary-2 {
  background-color: #FFFFFF !important;
}

.vwui-u-background-neutral-20 {
  background-color: #F2F2F3 !important;
}

.vwui-u-background-neutral-95 {
  background-color: #323434 !important;
}

.vwui-u-background-busy {
  background-image: url("https://res.cloudinary.com/vectorworks-mktg/image/upload/v1639324178/Rodrigo_tests_/blue-steel/v3cizuepprlnswpcvbkk.jpg") !important;
}

.vwui-u-inset-2x {
  padding: 16px;
}

.vwui-u-inset-3x {
  padding: 24px;
}

.vwui-u-flow > * + * {
  margin-bottom: var(--flow-space, 1em);
}